mixin dropdownButtons(text, title, status, values, id)

	div(id=id).dropdown-buttons
		if title
			p.dropdown-buttons__top
				span #{title}
				span.dropdown-buttons__status #{status}
		input(class="dropdown-buttons__input dropdown-buttons__input_border-bottom" type="text" placeholder=text readonly)
		ul(class=open).dropdown-buttons__list
			each val in values
				li.dropdown-buttons__option
					p.dropdown-buttons__option-text #{val.title}
					.dropdown-buttons__buttons
						button(class="dropdown-buttons__button dropdown-buttons__button_minus dropdown-buttons__button_disabled" type="button") -
						span.dropdown-buttons__numeric #{val.num}
						button(type="button").dropdown-buttons__button.dropdown-buttons__button_plus +
			li.dropdown-buttons__option.dropdown-buttons__option_last
				button(type="button").dropdown-buttons__button-bottom.dropdown-buttons__button-bottom_clear очистить
				button(type="button").dropdown-buttons__button-bottom.dropdown-buttons__button-bottom_submit применить


mixin dropdownButtonsUI(text, title, status, isOpen, values, id)
	- var clear = false

	- var open = + (isOpen) ? 'dropdown-buttons__list_open' : ''

	div(id=id).dropdown-buttons
		if title
			p.dropdown-buttons__top
				span #{title}
				span.dropdown-buttons__status #{status}
		input(class="dropdown-buttons__input dropdown-buttons__input_border-bottom" type="text" placeholder=text readonly)
		if (isOpen)
			ul(class=open).dropdown-buttons__list
				each val in values
					if !clear
						- clear = !!val.num
					- var disabled = (!val.num) ? ' dropdown-buttons__button_disabled ' : ''
					li.dropdown-buttons__option
						p.dropdown-buttons__option-text #{val.title}
						.dropdown-buttons__buttons
							button(class="dropdown-buttons__button dropdown-buttons__button_minus" + disabled type="button") -
							span.dropdown-buttons__numeric #{val.num}
							button(type="button").dropdown-buttons__button.dropdown-buttons__button_plus +
				li.dropdown-buttons__option.dropdown-buttons__option_last
					if clear
						button(type="button").dropdown-buttons__button-bottom.dropdown-buttons__button-bottom_clear очистить
					button(type="button").dropdown-buttons__button-bottom.dropdown-buttons__button-bottom_submit применить