
mixin dropdown(text, title, status, isOpen, values, form, size)
	- var clear = false

	-
		var open = + (isOpen) ? 'dropdown__list--open' : ''
		var smallSize = size === 'small' ? ' dropdown--small ' : ''
		var mediumSize = size === 'medium' ? ' dropdown--medium ' : ''

	div(class=smallSize + mediumSize).dropdown
		if title
			p.dropdown__top
				span #{title}
				span.dropdown__status #{status}
		button(class="dropdown__text dropdown__text--border-bottom" type="button") #{text}
		if (isOpen)
			ul(class=open).dropdown__list
				each val in values
					if !clear
						- clear = !!val.num
					- var disabled = (!val.num) ? ' dropdown__button--disabled ' : ''
					li.dropdown__option
						p.dropdown__option-text #{val.title}
						.dropdown__buttons
							button(class="dropdown__button" + disabled type="button") -
							span.dropdown__numeric #{val.num}
							button(type="button").dropdown__button +
				if(form)
					li.dropdown__option
						if clear
							button(type="button").dropdown__button-bottom.dropdown__button-bottom--clear очистить
						button(type="button").dropdown__button-bottom.dropdown__button-bottom--submit применить
