
mixin textField(type, placeholder, value, labelText, status)
	if(status === 'default' || status === '')
		label.text-field
			if (labelText)
				span.text-field__top
					span #{labelText}
					span.text-field__status #{status}

			input(type=type placeholder=placeholder value=value).text-field__input

	else if(status == 'subscription')
		label.text-field
			span.text-field__top
				span #{labelText}
			button.text-field__button
			input(type=type placeholder=placeholder value=value).text-field__input.text-field__input--small
	else if (status === 'Hover / Focus')
		label.text-field
			span.text-field__top
				span #{labelText}
				span.text-field__status #{status}
			input(type=type placeholder=placeholder value=value).text-field__input.text-field__active
