mixin dropdown(parameters)
	- const { text, title, values } = parameters

	.dropdown.dropdown_medium.js-dropdown
		if title
			p.dropdown__top
				span #{title}
		input(class="dropdown__text js-dropdown__text dropdown__text_border-bottom" type="text" placeholder=text readonly)
		ul(class=open).dropdown__list.js-dropdown__list.dropdown__list_open
			each val in values
				li.dropdown__option.js-dropdown__option
					p.dropdown__option-text #{val.title}
					.dropdown__buttons
						button(class="dropdown__button dropdown__button_disabled dropdown__button_minus js-dropdown__button-minus" type="button") -
						span.dropdown__numeric.js-dropdown__numeric #{val.num}
						button(type="button").dropdown__button.dropdown__button_plus +
