include ../form-email/form-email.pug

mixin footer()
	footer.footer
		.footer__wrapper
			.footer__logo
				include ../logo/logo.pug
				p.footer__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
			.footer__lists
				ul.footer__list
					each val, index in ['навигация', 'О нас', 'Новости', 'Служба поддержки', 'Услуги']
						if(index == 0)
							li.footer__item.footer__item_title #{val}
						else
							li.footer__item
								a(href="#nowhere").footer__link  #{val}
				ul.footer__list
					each val, index in ['о нас', 'О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
						if(index == 0)
							li.footer__item.footer__item_title #{val}
						else
							li.footer__item
								a(href="#nowhere").footer__link  #{val}
				ul.footer__list
					each val, index in ['Служба поддержки', 'Соглашения', 'Сообщества', 'Связь с нами']
						if(index == 0)
							li.footer__item.footer__item_title #{val}
						else
							li.footer__item
								a(href="#nowhere").footer__link  #{val}

			.footer__subscribe
				h3.footer__subscribe-tittle Подписка
				p.footer__subscribe-description Получайте специальные предложения и новости сервиса
				+form-email({title: ''})
		.footer__line
		.footer__bottom
			p.footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
			.footer__socials
				include ../socials/socials.pug
