
mixin textField(type, placeholder, value, labelText, status)
	if(status === 'default')
		label.text-field
			p.text-field__top
				span #{labelText}
				span.text-field__status #{status}
			input(type=type placeholder=placeholder value=value).text-field__input
	else if(status == 'subscription')
		label.text-field
			p.text-field__top
				span #{labelText}
			button.text-field__button
			input(type=type placeholder=placeholder value=value).text-field__input.text-field__input--small
	else
		label.text-field
			p.text-field__top
				span #{labelText}
				span.text-field__status #{status}
			input(type=type placeholder=placeholder value=value).text-field__input.text-field__active
