include ../form-email/form-email.pug

mixin footer-ui()
	footer.footer-ui
		.footer-ui__wrapper
			.footer-ui__logo
				include ../logo/logo.pug
				p.footer-ui__description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
			.footer-ui__lists
				ul.footer-ui__list
					each val, index in ['Navigation', 'About Us', 'News', 'Support', 'Products']
						if(index == 0)
							li.footer-ui__item.footer-ui__item_title #{val}
						else
							li.footer-ui__item
								a(href="#nowhere").footer-ui__link  #{val}
				ul.footer-ui__list
					each val, index in ['ABOUT US', 'Who we are', 'Our team', 'Careers', 'Investors']
						if(index == 0)
							li.footer-ui__item.footer-ui__item_title #{val}
						else
							li.footer-ui__item
								a(href="#nowhere").footer-ui__link  #{val}
				ul.footer-ui__list
					each val, index in ['Support', 'Documentation', 'Community', 'Get in Touch']
						if(index == 0)
							li.footer-ui__item.footer-ui__item_title #{val}
						else
							li.footer-ui__item
								a(href="#nowhere").footer-ui__link  #{val}

			.footer-ui__subscribe
				h3.footer-ui__subscribe-tittle Subscribe to our newsletter
				p.footer-ui__subscribe-description Receive our latest news and promotions in your inbox!
				+form-email({title: ''})
		.footer-ui__line
		.footer-ui__bottom
			p.footer-ui__copyright Copyright © 2018 Toxin UI Kit. All rights reserved.
			.footer-ui__socials
				include ../socials/socials.pug
